<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
        <th scope="col">email</th>
        <th scope="col">celular</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formulario of formularios; let index = index">
        <td>{{ formulario.nome }}</td>
        <td>{{ formulario.dataNascimento }}</td>
        <td>{{ formulario.email }}</td>
        <td>{{ formulario.celular }}</td>
        <td>
          <button
            routerLink="/formulario/visualizar/{{ formulario.id }}"
            class="border-0 bg-transparent"
          >
            <i class="bi bi-eye"></i>
          </button>

          <button
            routerLink="/formulario/responder/{{ formulario.id }}"
            class="border-0 bg-transparent"
          >
            <i class="bi bi-question-diamond"></i>
          </button>
          <button
            routerLink="/formulario/{{ formulario.id }}"
            class="border-0 bg-transparent"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            (click)="remover(formulario.id)"
            class="border-0 bg-transparent"
          >
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-primary mt-2"
    routerLink="/formulario/novo"
  >
    Novo
  </button>
</div>
