<div class="container mt-3">
  <h3>
    Reposta <span class="badge bg-secondary">Total: {{ total }}</span>
  </h3>
  <ol class="list-group list-group-numbered">
    <ng-container *ngFor="let perguntaResposta of resposta | keyvalue">
      <li
        *ngIf="perguntaResposta.key != 'id'"
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ perguntaResposta.key }}</div>
          {{ perguntaResposta.value }}
        </div>
      </li>
    </ng-container>
  </ol>
  <nav class="mt-3">
    <ul class="pagination">
      <li class="page-item">
        <button
          [disabled]="page == 0"
          (click)="page = page - 1; carregarResposta()"
          class="page-link"
        >
          Anterior
        </button>
      </li>
      <li class="page-item active">
        <a class="page-link">{{ page + 1 }} de {{ total }}</a>
      </li>
      <li class="page-item">
        <button
          [disabled]="page == total - 1"
          (click)="page = page + 1; carregarResposta()"
          class="page-link"
        >
          Próximo
        </button>

        <button
        type="button"
        class="btn btn-primary mt-2"
        routerLink="/formulario"
      >
        VOLTAR
      </button>
      </li>
    </ul>
  </nav>
</div>
